.searchbar {
  margin-right: 8rem;
  background-color: white;
  color: rgb(110, 125, 255);
  width: 30rem;
  border-radius: 25px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  flex: 4;
}

.searchbar input {
  width: 100%;
  font-size: 1rem;
  border: none;
}

.searchbar input:focus {
  outline: none;
}
.nav-items {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 340px;
  flex: 5;
  margin-right: 2rem;
}

@media (max-width: 40rem) {
  .nav-items,
  .searchbar {
    display: none;
  }
}
