.post-list__items {
  list-style: none;
  padding: 0 0 12px 0;
  max-height: calc(100vh - 270px);
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0;
}

.load-more-btn {
  margin: 5px 38%;
}

.errorText {
  color: rgb(73, 73, 73);
  text-align: center;
}
