.friend-list__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.friend-list__item a {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex: 3;
}

.img-container {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  flex: 1;
  text-align: center;
  position: relative;
}

.img-container img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  object-fit: cover;
}

.img-container span {
  background-color: chartreuse;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
}

.friend-list__item p {
  font-size: 1.2rem;
  color: rgba(73, 73, 73, 0.808);
  font-weight: 400;
  text-align: left;
  flex: 1;
}

.add-friend__btn {
  position: relative;
  font-size: 1rem;
  width: 75px;
  height: 50px;
  text-align: center;
  padding: 0 0 0 20px;
  flex: 1;
}

.add-friend__btn svg {
  font-size: 1rem;
  position: absolute;
  left: 15px;
}
