.share-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
  width: 100%;
}

.img-container {
  text-align: center;
  margin: 5px 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.img-container img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 2px 2px 8px rgb(0, 0, 0, 0.4);
}

.input-container {
  padding-left: 10px;
}

.input-container textarea {
  width: 100%;
  border: none;
  font-size: 1rem;
  border-bottom: 1px solid rgb(0, 0, 0, 0.4);
}

.input-container textarea:focus {
  outline: none;
}

.share-actions {
  padding: 0 20px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.share-actions button {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  border-radius: 12px;
}

.share-actions__action {
  border: none;
  background: #fff;
  cursor: pointer;
}

.share-actions__action:hover {
  background: rgb(230, 230, 230);
}

.share-actions__action span {
  padding-left: 1rem;
  color: rgb(202, 34, 34);
  font-size: 0.9rem;
  font-weight: bolder;
}

.share-actions__action svg {
  color: rgb(202, 34, 34);
}

.ui-button span {
  padding-left: 1rem;
  font-size: 0.9rem;
  font-weight: bolder;
}

@media (max-width: 40rem) {
  .share-container {
    justify-content: center;
  }

  .img-container {
    flex: none;
    width: 20%;
    padding-left: 50px;
    padding-bottom: 30px;
  }

  .img-container img {
    width: 36px;
    height: 36px;
  }

  .input-container {
    flex: none;
    padding-left: 80px;
  }

  .input-container textarea {
    width: 70%;
  }

  .share-actions__action {
    width: 50px;
  }

  .share-actions__action {
    padding: 0;
    display: inline-flex;
    justify-content: center;
    max-width: inherit;
  }

  .share-actions__action button {
    width: 100px;
    font-size: 0.8rem;
    flex: none;
  }

  .share-actions__action svg {
    display: none;
  }

  .share-actions__action span {
    padding: 0;
  }

  .ui-button {
    display: none;
  }
}
