.modal {
  position: fixed;
  z-index: 100;
  display: flex;
  top: 10vh;
  left: 25%;
  align-items: center;
  justify-content: center;
  animation: slideDown 200ms ease-in forwards;
}

.overlay {
  z-index: 200;
  top: 30vh;
  left: 22.5%;
}

.modal-content {
  width: 45vw;
  background: white;
  border-radius: 12px;
  overflow: hidden;
}

.overlay .modal-content {
  width: 50vw;
}

.header {
  width: auto;
  height: 80px;
  background: rgb(110, 125, 255);
  color: white;
}

.overlay .header {
  background: rgb(170, 31, 31);
}

.header h3 {
  margin: 0 0 0 2.5rem;
  padding-top: 1rem;
  font-size: 2rem;
}

.footer {
  text-align: end;
}

.footer button {
  margin: 0 12px 20px 0;
}

@keyframes slideDown {
  0% {
    transform: translateY(-80%);
  }

  33% {
    transform: translateY(-50%);
  }

  66% {
    transform: translateY(-20%);
  }

  100% {
    transform: translateY(0);
  }
}
