.comment-list__item {
  border: 1px solid rgb(150, 150, 150);
  margin-bottom: 5px;
}

.img-container {
  display: flex;
  align-items: center;
  margin: 0;
}

.img-container img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 2px 2px 8px rgb(0, 0, 0, 0.4);
  margin-left: 20px;
}

.img-container__info {
  display: flex;
}

.img-container h3 {
  margin-left: 20px;
  padding: 0;
  width: 200px;
  color: rgb(110, 125, 255);
}

.comment-list__item p {
  margin: 0;
  padding: 0 50px;
  padding-bottom: 10px;
  color: rgb(80, 80, 80);
}
